body {
    background-color:black;

    font-family: arial;
    color: white;
}

h1 {
    font-family: verdana;
    color: grey;
}

.maindiv{
    background-color: white;

    color: black;
    width: 480px;
    padding: 20px;

    border: solid black;
    border-radius: 25px;


    margin-left: auto;
    margin-right: auto;
}



#result{
    display: block;
    width: 360px;
    /*margin-left: 70px;*/
    margin: -30px auto 20px 70px;
}

.form-div{
    background-color: red;

    display: grid;
    grid-template-columns: 120px 100px auto;
    grid-template-rows: auto;

    align-items: center;
    text-align:center;
}


.label-item{
    background-color:yellow;
}

#principal {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 160px;
}

/*
.input-item{
    width: 60px;
}

.slider-text{
    width: 60px;
    background-color: blue;
}*/