body {
    background-color:black;

    font-family: arial;
    color: white;
}

h1 {
    font-family: verdana;
    color: grey;
}

.maindiv{
    background-color: white;

    color: black;
    width: 480px;
    padding: 20px;

    border: solid black;
    border-radius: 25px;


    margin-left: auto;
    margin-right: auto;
}

/* 
Div that holds inputs/labels etc
and places them in table-like order
*/
.main-form{
    display: table;
    /*background-color: blue;*/
    margin: 0 auto;
    padding: 20px 0;
}

/*
<p> tag inside the main-form div
starts a new table row
*/
.main-form p{
    display: table-row;
    /*background-color: red;*/
} 

/*
Each input/label is a separate cell
in the table.
*/
label, 
input, 
.input,
button{
    display: table-cell;
    /*background-color: yellow;*/

}

label {
    padding-right: 20px;
}

/*
Extra care for the "amount" input,
where the cell contains the 
<input> AS WELL AS the <span>
*/
.input input {
    display: inline;
}