body {
    background-color:black;

    font-family: arial;
    color: white;
}

h1 {
    font-family: verdana;
    color: grey;
}

.maindiv{
    background-color: white;

    color: black;
    width: 480px;
    padding: 20px;

    border: solid black;
    border-radius: 25px;


    margin-left: auto;
    margin-right: auto;
}



#result{
    grid-row-start: 5;
    grid-column-start:1;
    grid-column-end:4;
    text-align: left;
}

.form-div{
    margin: 0 70px 20px 70px;

    display: grid;
    grid-template-columns: 120px 160px 30px;
    grid-template-rows: auto;

    align-items: center;
    text-align:left;

    grid-row-gap: 10px;
}

#principal {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 160px;
}

#rate{
    width:160px;
}

#years{
    grid-column-start: 2;
    grid-column-end: 4;
    width: 40px;
}

.slider-text{
    width: 70px;
    text-align:left;
    margin-left: 10px;
}